
body{
  background-color: #003453;
}
.div-selector-container{
  display: block;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.turnos-continer {
  display: inline-block;
  color: white;
}

div {
  display: inline-block;
  color: white;
}

.div-selector{
  position: relative;
  /* very important */
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 0.7em;
  margin: 1em;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  width: 2.5em;
  text-align: center;
}

.div-selector::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 128, 0, 0);
  /* invisible by default */
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.div-selector:hover::after {
  background-color: rgba(10, 173, 10, 0.25);
}

.selected{
  background-color: rgba(10, 173, 10, 0.4);
  color: rgb(186, 255, 212);
}

.btn-crear-turnos{
  border-radius: 20px;
  border: 2px solid aliceblue;
  background-color: inherit;
  color: aliceblue;
  font-weight: bold;
  transition: background-color 0.5s ease,color 0.5s ease;
}
.btn-crear-turnos:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: inherit;
  color: white;
  color: black;
  background-color: white;
}