
body{
  justify-content: center;
  justify-items: center;
}

.alta-recluso-btn-container{
  margin-top: 3em;
}
.alta-recluso-btn{
  width: 25em;
}

.alta-recluso-icono {
  font-size: 3.5em;
  justify-self: center;
}

.recluso-buscado {
  padding: 1em;
  margin-bottom: 1.5em;
  border: .5px solid rgb(224, 217, 217);
  border-radius: 5px;
  text-align: center;
  background-color: rgb(253, 250, 250);
}