
<body>
  <div class="alta-recluso-btn-container">
    <button class="alta-recluso-btn" routerLink="alta-recluso" title="Nuevo Recluso">
      <i class="bi bi-plus-lg alta-recluso-icono"></i>
    </button>
  </div>
    <div class="buscar-recluso-container">
      <app-buscar-reclusos (sendRecluso)="mostrarReclusoEncontrado($event)"></app-buscar-reclusos>
      <div *ngIf="(recluso!=undefined)" class="recluso-buscado">
        <app-modificar-recluso [recluso]="recluso"></app-modificar-recluso>
      </div>
    </div>
    <app-mostrar-reclusos></app-mostrar-reclusos>
</body>
