
<body>
  

<div *ngIf="recluso_encontrado" class="recluso-all-container">
  <div class="detalles-pena">
    <h5>Recluso {{recluso.cod_recluso}}</h5>
    <h5>{{recluso.pena?.fecha_ini}}</h5>
    <h5>{{recluso.pena?.fecha_fin_real}}</h5>
  </div>
  <div class="recluso-container">
    <app-modificar-recluso [recluso]="recluso"></app-modificar-recluso>
  </div>

<div class="informacion-recluso-container">
  <div class="seleccion">
    <h5>¿Que Desea Ver del Recluso?</h5>
      <select (change)="setSelectValue($event)">
        <option value="condenas">Condenas</option>
        <option value="talleres">Talleres</option>
        <option value="actividades">Actividades</option>
      </select>
  </div>
  <div *ngIf="selected_value==='condenas'">
    <div *ngFor="let condena of recluso.condenas" class="condena-constainer">
      <app-modificar-condena [condena]="condena"></app-modificar-condena>
    </div>
  </div>
  <div *ngIf="selected_value==='actividades'">
    <div *ngFor="let actividad of recluso.actividades" class="actividad-constainer">
      <app-formulario-actividad [actividad]="actividad"></app-formulario-actividad>
    </div>
  </div>
  <!--
      <div *ngIf="selected_value===Talleres">
        <div *ngFor="let taller of recluso.talleres" class="taller-constainer">

        </div>
      </div>
      -->
</div>
<!-- 
  informacion de la pena del recluso, fecha en la que comezo su estadia en prision,
   y si esta finalizada la estadia, en cuyo caso no se permiten modifucaciones
   se debe permitir dar de alta o liberr al recluso
  componente de talleres
  conponente de acividades
-->
  </div>
</body>