
<body>

  
    <h2>Menu de Reclusos</h2>
  

  
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="alta-recluso">Nuevo Recluso</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="buscar-recluso">Buscar Recluso</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="liberar-recluso">Reclusos a liberar</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
    <div>
      <a routerLink="../">Retorno al Menu de Usuario</a>
    </div>
  
</body>
