.form-error {
  color: red;
  font-size: 20px;
  max-height: 0.80px;
}

body {
  display: grid;
  align-items: center;
  font-family: cursive;
}


input,
textarea {
  width: 100%;
  padding: 5px;
  outline: none;
}

input[type="submit"] {
  transform: translate(2.0%);
  padding: 3px;
  margin-top: 0.5rem;
  font-family: cursive;
  font-weight: bold;
}

fieldset {
  padding: 1em 1.2em;
  width: 10em;
  margin: auto;
}
.form_recluso_container{
  margin-top:0px;
  padding-top: 0px;
justify-self: left;
margin-left: 1.5em;
justify-content: center;
}
.fecha_nacimiento_label{
  font-size: .7em;
  color: rgb(150, 150, 145);
}

.btn-formularo-condena{
  width: 100px;
}


.collapse,.collapsing,.show{
  display: block;
}