
<head>
  <link rel="stylesheet" href="alta-reclusos.component.css">
</head>

<body>
    <div class="form-recluso-container">
      <app-formulario-recluso (sendFormReclusoValue)="recibirRecluso($event)"></app-formulario-recluso>
    <button *ngIf="btn_alta" (click)="altaRecluso()">Finalizar Alta</button>
    </div>
    
<div class="form-condena-container">
  <div class="formulario-condena" id="collapseCondena"
  *ngFor="let number of numbers; let i = index">
  <app-formulario-condena (sendFormCondenaValue)="addCondena($event)"></app-formulario-condena>
</div>
<button class="btn-formulario-condena" (click)="nuevaCondena()" 
title="Nueva Condena" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCondena"
 aria-expanded="false" aria-controls="collapseCondena">
      <i class="bi bi-plus-lg plus-icono"></i>
</button>
</div>


</body>
