<head>
  <link rel="stylesheet" href="menu.component.css">
</head>

<body>
    <h2>Menu Principal</h2>
  <div>
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
  </div>
  <div>
    
      <p>
        <a routerLink="recluso">Menu de Reclusos</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="guardias">Menu de Guardias</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="sentencia">Menu de Sentencia</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="actividad">Menu de Actividades</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="taller">Menu de Talleres</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    <p> <a routerLink="sector">Menu de sectores</a> </p>
  </div>
  <div>
    
    <p>
       ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
    </p>
  
  </div>

  
    @if (tipo_usuario === 'Administrador') {
    <h2>BIENVENIDO MAESTRO</h2>
    <nav>
      <a routerLink="ilegal">Negocio ILEGAL</a>
    </nav>
    }
  
</body>
