<head>
  <link rel="stylesheet" href="menu.component.css">
</head>

<body>
    <h2>Menu Principal</h2>
  <div>
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
  </div>
  <div>
    
      <p>
        <a routerLink="recluso">Menu de Reclusos</a>
        <i class="bi bi-person-lock"></i>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="guardias">Menu de Guardias</a>
        <i class="bi bi-shield-check"></i>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="sentencia">Menu de Sentencia</a>
        <i class="bi bi-hammer"></i>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="actividad">Menu de Actividades</a>
        <i class="bi bi-person-arms-up"></i>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="taller">Menu de Talleres</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    <p> <a routerLink="sector">Menu de sectores</a>
    <i class="bi bi-grid-3x3-gap-fill"></i> </p>
  </div>
  <div>
    
    <p>
       ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
    </p>
  
  </div>


  
</body>
