
<body>
    <div>
        <h2>MENU ACTIVIDAD ILEGAL</h2>
        <nav>
            <p>═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ </p>
            <a routerLink="alta-actvidad">Dar alta Actividad </a>
            <p>═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ </p>
            <a routerLink="modificar-actividad">Modificar Actividad  </a>
            <p>═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ </p>
            <a routerLink="inscripcion-actividad">Inscribir a una actividad  </a>
            <p>═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ </p>
            <a routerLink="mostrar-actividad">mostrar actividad</a>
            <p>═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ </p>
        </nav>
    </div>
</body>
