<head>
  <link rel="stylesheet" href="modificar-guardia.component.css">
</head>

<body>
  <form [formGroup]="form_guardia" (submit)="enviarModificacion()">
    <fieldset>
      <input type="text" formControlName="nombre">
    </fieldset>
    <fieldset>
      <input type="text" formControlName="apellido">
    </fieldset>
    <fieldset>
      <input type="text" formControlName="dni">
    </fieldset>
      <fieldset>
<input id="date_ini" type="date" (change)="dateChange()" formControlName="fecha"><input formControlName="fecha_ini_contrato" readonly>
      </fieldset>
    <button [disabled]="form_guardia.invalid">Enviar</button>
  </form>

</body>
