body{
  height: 100%;
}
div{
  display: inline-block;
  color: white;
}
.guardia:hover{
  cursor:pointer;
}


td:hover{
  background-color: rgb(83, 77, 77);
}

.guardia{
  border:.5px solid grey;
  border-radius: 20px;
  padding-left:.5em;
  padding-right: 1.5em;
  margin-bottom: 2px;
  font-size: small;
  overflow: hidden;
}


.row-data{
  height: 4.6em;
  max-height: 4.6em;
  overflow: hidden;
}

.turno-data-guardia{
  display:block;
  max-width: 10em;
}
table {
  table-layout: fixed;
  width: 100%;
}
.sector-data{
  justify-self: center;
}

.turno-data-guardia{
  position: relative;
}
.delete {
  position: absolute;
  font-size: 1.25em;
  margin-top: 0;
  padding-top: 0;
    right: 0;
    top:0;
  font-weight: bold;
  opacity:0;
}

.delete-icon {
  display: inline-flex;
  font-size: 1em;
  margin-top: 0;
  padding-top: 0;
  height: 1em;
  color: rgb(211, 208, 208);
  cursor:pointer;
}

.delete-icon:hover {
  color: red;
  font-size: 1.1em;
  cursor: pointer;
}

.turno-data-guardia:hover .delete{
  opacity:1;
}

.titulo-cronograma-turnos{
  color: azure;
  justify-self: center;
  margin-bottom: 1em;
}
.sub-titulo-guardias{
  color:azure;
  justify-self: center;
}
.guardias{
  display: grid;
  justify-content: center;
  justify-self: center;
}
.guardia-disponible{
  margin: 3px;
}



select{
  background-color: #9cbbbb;
  font-weight: 600;
  border: none;
}
.form-select:focus{
  outline: none;
  box-shadow: 0 0 0 2px black;
}