<head>
  <link rel="stylesheet" href="menu-taller.component.css">
</head>

<body>
 
    <h2>Menu de Talleres</h2>
  
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="alta-taller">Dar de alta un taller</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
   
  </div>
  <div>
    
      <p>
        <a routerLink="inscripcion-taller">Inscripcion a un taller</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="modificar-taller">Modificar un taller</a>
      </p>
    
  </div>
  <div>
   
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="mostrar-taller">Mostrar todos los talleres</a>
      </p>
    
  </div>
  <div>
   
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    
  </div>


</body>
