<head>
  <link rel="stylesheet" href="buscar-reclusos.component.css">
</head>
<body>

<div class="search-recluso-container">
  <form [formGroup]="form_buscar_recluso">
    <fieldset>
      <div class="input-group">
        <select class="form-select" id="selectorID" (change)="definirIdentificador()">
          <option value="dni">DNI</option>
          <option value="cod">CODIGO</option>
        </select>
        <input type="text" formControlName="id" class="form-control" [pattern]="pattern" [title]="title">
        <button class="btn-icon btn btn-primary" (click)="buscarRecluso()" title="Buscar"
          [disabled]="form_buscar_recluso.invalid">
          <i class="bi bi-search search-icon"></i>
        </button>
      </div>
    </fieldset>
  </form>
</div>
<div class="recluso_container" *ngIf="recluso_encontrado">
  <app-modificar-recluso [recluso]="unRecluso"></app-modificar-recluso>
</div>

</body>

