body {
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  font-family: cursive;
  */
    flex-wrap: wrap;
      /* Allow items to wrap onto the next line */
    
}

.actividad{
  display: grid;
    border-bottom: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  .dia_semana{
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: 40em;
  
}

