body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
}

.actividad{
    border-bottom: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
}

