.send-icon-container {
  position: absolute;
  right: 15%;
  bottom: 0.5px;
  width: 30%;
}

.send-icon {
  font-size: 1.2em;
}

.endContract-icon-container {
  position: absolute;
  left: 15%;
  bottom: 0.5px;
  width: 30%;
}

.endContract-icon {
  font-size: 1.2em;
}

.edit {
  position: absolute;
  font-size: 1.25em;
  top: 1px;
  right: 5px;
}

.edit-icon:hover {
  color: green;
  font-size: 1.05em;
  cursor: pointer;
}

.formulario-reclusos-container {
  display: flex;
  flex-direction: column;
  /* Aligns elements vertically */
  align-items: center;
  /* Centers elements horizontally */
}

.recluso {
  position: relative;
  background-color: rgb(219, 215, 215);
  text-align: center;
  width: 26em;
  margin-top: 0.2em;
  padding-bottom: 1.5em;
  border-radius: 4%;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  /*border-right-width: 0;*/
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

i {
  color: black;
}


p {
  font-family: Verdana;
}

fieldset {
  padding: 10px 20px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  margin-bottom: 1px;
  margin-left: 3px;
}

input[type="number"],
input[type="date"] {
  background-color: rgb(219, 215, 215);
}

label {
  margin-left: 3px;
  display: inline-block;
  min-width: 90px;
  text-align: left;
}

input[type="text"],
textarea {
  background-color: rgb(219, 215, 215);
}