<head>
  <link rel="stylesheet" href="menu-actividad.component.css">
</head>
<body>
  <div>
    
      <h2>Menu de Actividades</h2>
    
  </div>
  <div>
    
      <p>
        ·
      </p>
    
  </div>
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="alta-actividad">Dar de alta una Actividad</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="modificar-actividad">Modificar Actividad</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a routerLink="mostrar-actividad"> Mostrar todas las Actividades</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    
  </div>

  
</body>
