body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

.alta-guardia-container{
justify-items: center;
display: grid;
}
.guardia {
  position: relative;
  background-color: rgb(219, 215, 215);
  text-align: center;
  width: 26em;
  margin-top: 0.2em;
  /*
  opacity:0;
  transition-property: opacity, background-color;
  transition-duration: 1s, 1s;
  position: relative;
  */
}
.btn-alta-guardia-icono{
  width: 100%;
}

.alta-guardia-icono{
  font-size: 3.5em;
  justify-self: center;
}
.new-btn{
  width: 25em;
}