<head>
  <link rel="stylesheet" href="alta-guardia.component.css">
</head>

<body>

  <div class="alta-guardia-container">
    <button class="new-btn" (click)="mostrarGuardia()" title="Nuevo Guardia">
      <i class="bi bi-plus-lg alta-guardia-icono" *ngIf="!mostrar_guardia"></i>
      <i class="bi bi-dash-lg alta-guardia-icono" *ngIf="mostrar_guardia"></i>
    </button>
    <div class="guardia" *ngIf="mostrar_guardia">
    <app-formulario-guardia (sendFormValue)="altaGuardia($event)"></app-formulario-guardia>
    </div>
  </div>

</body>

