:root {
  --bs-body-bg: #003453!important;
}
body{
  justify-content: center;
  justify-items: center;
  background-color: #003453 !important;
}
.recluso-data{
  display: block;
  position: relative;
  padding: 1em;
  padding-right: 1.4em;
  width: 15em;
  border-radius: 2%;
  margin-bottom:1em;
  background-color: #003453;
  color: white;
  border-radius: 10px;
  opacity: 0.95;
  border: 1px solid white;
  justify-self: center;
}
.recluso-data:hover{
  opacity: 1;
  cursor:pointer;
}

.delete-icon {
  position:absolute;
  top:0;
  right: 0;
  font-size: 1.2em;
}
.delete-icon:hover{
font-size: 1.3em;
color: red;
}

.btn-buscar-recluso{
  margin-top: 2em;
  margin-bottom: 1em;
  width: 15em;
  border:black solid;
}

.reclusos-inscriptos-container{
  width: 20em;
  justify-items: center;
  justify-content: center;
  padding: 0.3em;
  /*background-color: rgb(230, 221, 221);*/
  border: 1px solid rgb(206, 198, 198);
  background-color: black;
  color: #96a4c7;
  border-radius: 20px;
}

h5{
  justify-self:anchor-center;
}

p{
  display: inline;
}