<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Libertant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Perfil</a>
        <a class="nav-link" routerLink="menu/recluso">Reclusos</a>
        <a class="nav-link" routerLink="menu/guardias">Guardias</a>
        <a class="nav-link" routerLink="menu/taller">Talleres</a>
        <a class="nav-link" routerLink="menu/sector">Sectores</a>
        <a class="nav-link" routerLink="menu/actividad">Actividades</a>
      </div>
    </div>
  </div>
</nav>