<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Libertant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="menu/administrador">
          <i class="bi bi-person-gear"></i>
          Administrador
        </a>
        
        <a class="nav-link" routerLink="menu/recluso">
          <i class="bi bi-person-lock"></i>
          Reclusos
        </a>
        <a class="nav-link" routerLink="menu/guardias">
          <i class="bi bi-shield-check"></i>
          Guardias
        </a>
        <a class="nav-link" routerLink="menu/turnos">
          <i class="bi bi-clock-history"></i>
          Turnos
        </a>
        <a class="nav-link" routerLink="menu/sector">
          <i class="bi bi-grid-3x3-gap-fill"></i>
          Sectores
        </a>
        <a class="nav-link" routerLink="menu/actividad">
          <i class="bi bi-person-arms-up"></i>
          Actividades
        </a>
        <a class="nav-link" (click)="logOut()">
          <i class="bi bi-box-arrow-right"></i>
          Log Out
        </a>
      </div>
    </div>
  </div>
</nav>