<head>
  <link rel="stylesheet" href="log-in.component.css">
</head>
<!--
<form [formGroup]="usuario" (submit)="validarUsuarios()"   >
    <fieldset>
        <label> codigo de usuario: </label>
        <input type="text" formControlName="cod_administrador" > 
        @if (cod_administrador.invalid && cod_administrador.touched) {
            <h2 class="form-error">el codigo es requerido</h2>
        }
        <label> contrseña:</label>
        <input type="password" formControlName="contrasenia" >
        @if (contrasenia.invalid && contrasenia.touched) {
            <h2 class="form-error">La contraseña es requerida</h2>
        }        
    </fieldset>
    <button [disabled]="usuario.invalid"  >Enviar Datos</button>
</form>
-->
<div class="form-logIn-container">
<h3>Libertant</h3> <br>
<form class="row g-3 needs-validation" (submit)="validarUsuarios()" [formGroup]="form_logIn" novalidate>
    <div class="col-md-4 codigo">
        <label for="validationCustom01" class="form-label">Código</label>
        <input type="text" class="form-control" id="validationCustom01"
         formControlName="cod_administrador" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <br>
    <div class="col-md-4 contrasenia">
        <label for="validationCustom01" class="form-label">Contraseña</label>
        <input class="form-control" id="validationCustom01"
        type="password" formControlName="contrasenia" required>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <br>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
    </div>
</form>
</div>