<head>
  <link rel="stylesheet" href="buscar-guardia.component.css">
</head>

<body>
  
    <h2>Buscar Guardia</h2>

<form [formGroup]="form_buscar_guardia" (submit)="buscarGuardia()">
  <fieldset>
    <label>BUSCAR GUARDIA POR </label>
    <select id="selectorID" (change)="definirIdentificador()">
      <option value="dni">DNI</option>
      <option value="cod">Codigo</option>
    </select>
    <input type="text" formControlName="id">
  </fieldset>
  <button [disabled]="form_buscar_guardia.invalid">BUSCAR</button>
</form>
<p class="mensaje_error" *ngIf="!guardia_encontrado">{{message}}</p>

  <div class="guardia_container" *ngIf="guardia_encontrado">
      <p>Nombre: {{unGuardia.nombre}}<br>
      Apellido: {{unGuardia.apellido}}<br>
      DNI: {{unGuardia.dni}}<br>
      Fecha de Contratacion: {{unGuardia.fecha_ini_contrato | date:'dd-mm-yyyy'}}<br></p>
  </div>

</body>
