body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  outline: none;
}

label {
  line-height: 2.0rem;
}

input[type="submit"] {
  transform: translate(2.0%);
  padding: 3px;
  margin-top: 0.5rem;
  font-family: cursive;
  font-weight: bold;
}

fieldset {
  padding: 20px 40px;
}
.search-icon{
font-size: 1.02em;
color: white;
}

.icon-container:hover>.search-icon{
 color: rgb(0, 103, 199);
}
.btn-icon{
  border-radius: 40%;
}

.form-select{
  flex: 0.24;
}
.form-select:focus, .form-control:hover {
border-color: #86b7fe;
box-shadow: none;
box-shadow: 0 0 0 .05rem rgba(13, 110, 253, .25);
}
.form-control:focus {
  box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, .25);
}
