<head>
  <link rel="stylesheet" href="buscar-guardia.component.css">
</head>

<body>
  
    <div class="search-guardia-container">

<form [formGroup]="form_buscar_guardia">
  <fieldset>
    <div class="input-group">
      <select class="form-select" id="selectorID" (change)="definirIdentificador()">
        <option value="dni">DNI</option>
        <option value="cod">CODIGO</option>
      </select>
      <input type="text" formControlName="id" class="form-control"
       [pattern]="pattern" [title]="title">
       <button class="btn-icon btn btn-primary" (click)="buscarGuardia()" title="Buscar"
        [disabled]="form_buscar_guardia.invalid">
         <i class="bi bi-search search-icon"></i>
        </button>
    </div>
  </fieldset>
</form>
</div>
  <div class="guardia_container" *ngIf="guardia_encontrado">
    <app-modificar-guardia [guardia]="unGuardia"></app-modificar-guardia>
</div>

</body>
