
<body>
    <div>
        <h1>ingrese los datos de la NUEVA actividad</h1>
        <form [formGroup]="ilegal" (submit)="validarActividad()">
            <fieldset>
                <label>Nombre de la Actividad:</label>
                <input type="text" formControlName="nombre" >      
            </fieldset>
            <fieldset>
                <label>Descipcion de la Actividad:</label>
                <input type="text" formControlName="descripcion" >      
            </fieldset>
            <fieldset>
                <label>locacion:</label>
                <input type="text" formControlName="locacion" >      
            </fieldset>
            <fieldset>
                <label>Dia de la Semana:</label>
                <input type="text" formControlName="diaDeLaSemana" >      
            </fieldset>
            <fieldset>
                <label>Cantidad Maxima:</label>
                <input type="text" formControlName="cantidad_maxima" >      
            </fieldset>
            <fieldset>
                <label>Horario de Inicio:</label>
                <input type="text" formControlName="horaInicio" >      
            </fieldset>
            <fieldset>
                <label>Horario de Fin:</label>
                <input type="text" formControlName="horaFin" >      
            </fieldset>
            <p></p>
            <button [disabled]="ilegal.invalid">Enviar Actividad</button>
            <p></p>
        </form>
        @if (bandera === 'existente') {<p>actividad ya existente</p>}
        @if (bandera === 'error') {<p>error al postear</p>}
        @if (bandera === 'correcto'){<p>actividad registrada con exito</p>}
    </div>
</body>

