body{
    background-color: rgb(179 179 179);
}


p {
  font-family: Verdana;
  margin: 1px;
}
.guardias-container{
  display: flex;
    flex-direction: column;  /* Aligns elements vertically */
    align-items: center;     /* Centers elements horizontally */
    margin-bottom: 0.4em;
}


input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  margin-bottom: 1px;
  margin-left: 3px;
}
label {
   margin-left: 3px;
    display: inline-block;
      min-width: 90px;
      text-align: left;
}
input[type="text"],
textarea {
  background-color: rgb(219, 215, 215);
}