<head>
  <link rel="stylesheet" href="formulario-condena.component.css">
</head>

<body>

  <div class="condena">
    <form [formGroup]="form_condena">
      <h5>Condena</h5>
      <p>
        <label>Titulo: </label>
        <input type="text" formControlName="nombre"> <br>
      </p>
      <p>
        <label>Descripcion: </label>
        <input type="text" formControlName="descripcion">
      </p>
<div class="dias-meses-anos">
    <div class="anos">
      <label for="year">Años:</label> <br>
      <select id="year" formControlName="duracion_anios" (change)="setYear()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div class="meses">
    <label for="month">Meses:</label> <br>
    <select id="month" formControlName="duracion_meses" (change)="setMonth()">
      <option *ngFor="let month of months" [value]="month">{{ month }}</option>
    </select>
    </div>

    <div class="dias">
     <label for="day">Dias:</label> <br>
      <select id="day" formControlName="duracion_dias" (change)="setDay()">
        <option *ngFor="let day of days" [value]="day">{{ day }}</option>
      </select>     
    </div>
</div>
    </form>

    <div class="edit" (click)="editarCondena()" title="Editar" *ngIf="editar_condena">
      <i class="bi bi-pencil-square edit-icon"></i>
    </div>

    <button class="send-icon-container" (click)="enviarFormCondenaValue()" title="Guardar"
    [disabled]="form_condena.invalid || form_condena.disabled">
      <i class="bi bi-send send-icon"></i>
    </button>
  </div>
</body>
