.condena {
  position: relative;
  background-color: rgb(219, 215, 215);
  text-align: center;
  width: 26em;
  /*margin-top: 0.2em;*/
  padding-bottom: 1.5em;
  border-radius: 4%;
  border-top-left-radius:0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-color: gray;
  margin-bottom: 0px;
  padding-bottom: 2.6em;
}


.anos,.dias,.meses{
  display: inline-block;
  width: 5em;
  height: 3em;
}

.edit {
  position: absolute;
  font-size: 1.25em;
  top: 1px;
  right: 5px;
}

.edit-icon:hover {
  color: green;
  font-size: 1.05em;
  cursor: pointer;
}

.send-icon-container {
  position: absolute;
  right: 15%;
  bottom: 0.5px;
  width: 30%;
}

.send-icon {
  font-size: 1.2em;
}

i {
  color: black;
}


p {
  font-family: Verdana;
}

fieldset {
  padding: 10px 20px;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
  margin-bottom: 1px;
  margin-left: 3px;
}

input[type="number"],
input[type="date"] {
  background-color: rgb(219, 215, 215);
}

label {
  margin-left: 3px;
  display: inline;
  min-width: 3em;
  text-align: left;
}

input[type="text"],
textarea {
  background-color: rgb(219, 215, 215);
}